body {
    margin: 0;
    padding: 0;
    background-image: url('../img/background2.png');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

body.dark {
    background-image: url('../img/background2.png');
    background-color:  rgba(49, 36, 30, 1);

}

@media screen and (max-width: 700px){
    .container {
        display: compact;
        flex-direction: column-reverse;
    }
}