.slider {
    margin-top: 10px;
    margin-right: 10px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 36px;
}

.slider input[type="checkbox"] {
    display: none;
}

.slider-toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  rgba(49, 36, 30, 1);
;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 26px;
}

.slider-toggle:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input[type="checkbox"]:checked + .slider-toggle {
    background-color:  rgba(209, 200, 193, 1);
;
}

input[type="checkbox"]:checked + .slider-toggle:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}


.slider-button{
    display: flex;
    justify-content: flex-end;
}

.slider-button{
    display: flex;
    justify-content: space-between;
}


.exit-button-button{
    width: 46px;
    height: 46px;
    background-image: url("../img/login.png");
    background-color: transparent;
    border: none;
}
