/* BottNavBar.css */
@font-face {
    font-family: 'Cooper Black';
    src: url('../assets/COOPBL.TTF') ;
}

@font-face {
    font-family: 'Kurale';
    src: url('../assets/Kurale-Regular.ttf');
}


.ulnavbar{
    display: flex;
    justify-content: flex-end;
    list-style-type:none ;
    font-size: 28px;
    color: rgba(49, 36, 30, 1);
    border-bottom: 2px solid black;
    width: 1300px;
    margin-left: 70px;

    margin-right: 80px;
}
.ulnavbar li {
    margin-right: 10px;
}

#li-text{
    margin-top: 30px;
    width: 444px;
    margin-right: 300px;
    color:  rgba(69, 89, 11, 1);
}

.custom-span{

    font-family: "Cooper Black";
    font-size: 50px;
    display: inline-block;
    width: 444px;

}
.custom-span2{
    font-family: "Kurale";
    font-size:30px ;
    margin-left:50px;
}

.menu{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    font-size: 26px;
    margin-top: 70px;
    width: 400px;
    height: 41px;
    margin-left: 25px;
}

.menu1{
    font-family: 'Cooper Black', sans-serif;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    font-size: 34px;
    margin-top: 65px;
    width: 400px;
    height: 41px;
    margin-left: 25px;
}

@media screen and (max-width: 768px){
    .ulnavbar{
        display: compact;
        font-size: 25px;
        width: 1000px;
        margin-left: 70px;
        margin-right: 80px;
    }
}