/* CenterPart.css */
.img-ex{
    background-image: url("../img/1st_block.png");
    background-size: cover;
    width: 300px; /* Змініть розміри за бажанням */
    height: 300px;  /* Спробуйте видалити це, щоб відображення працювало */
    margin-top: 20px; /* Змінивши маржу вище */
    margin-left: 25px; /* Змініть розміщення по горизонталі за бажанням */
    border-radius: 35px;

}



.center-part1 {
    display: flex;
    flex-wrap: wrap;
}

.center-part1 > * {
    flex-basis: calc(25% - 10px);
    max-width: calc(25% - 10px);
    margin-bottom: 10px;
    flex-grow: 1;
}

.center-part1 > :nth-child(4n) {
    margin-right: 0;
}









