.Main {
    display: flex;
    flex-direction: column;
}

.TextAndLight {
    display: flex;
    margin-top: -80px; /* Зменшіть відстань вниз */
    margin-bottom: 20px;
    align-items: center; /* Центруємо елементи в блоку TextAndLight */
    margin-left: 90px;
}

.InfoText {
    margin-left: 80px;
    width: 800px;
    height: 250px;
    border: 3px solid rgba(69, 89, 11, 1);
    border-radius: 15px;
    background: rgba(200, 219, 190, 1);
    font-size: 22px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    z-index: -1; /* Підняти блок InfoText над іншими елементами */
}

.LigthSymbol {
    background-image: url("../img/Group.png");
    width: 30px;
    height: 45px;
    margin-right: 10px; /* Додайте відступ між символом і текстом */
}

.TextLight{
    color: rgba(69, 89, 11, 1);
    font-size: 18px;
    font-weight: bold;

}