.ulnavbar3{
    justify-content: flex-start;
    display: flex;
    list-style-type:none ;
    font-size: 28px;
    color: rgba(49, 36, 30, 1);
    border-bottom: 2px solid black;
    width: 1750px;
    margin-left: 80px;
}
#li-text2{
    margin-bottom: 10px;
    color:  rgba(69, 89, 11, 1);
    text-align: center;
}


.ItemNameContainer{
    margin-left: 20px;
    width: 470px;
    height:70px;
    text-align: center;
    padding: 10px;
    border-radius: 45px;
    border: 3px solid rgba(69, 89, 11, 1);
    background: rgba(200, 219, 190, 1);
    font-weight: bold;
    margin-top: 20px;
    font-family: 'Cooper Black', sans-serif;

}

.CircleButton{
    margin-top: 30px;
    margin-left: 200px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(200, 219, 190, 1);
    border: 3.75px solid rgba(69, 89, 11, 1);
    font-size: 30px; /* Задаємо розмір тексту */
    cursor: pointer;
}

.CircleButton::before {
    margin-top: 4px;
    margin-right: 4px;
    text-align: center;
    content: '\003C'; /* Встановлюємо стрілку вліво */
    color:rgba(69, 89, 11, 1);
}

.HeartButton{
    margin-top: 30px;
    margin-left: 20px;
    width: 50px;
    height: 45px;
    background-color:  transparent;
    border: none;
    background-image: url("../img/Vector3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}